
{% load static %}
<!DOCTYPE html>
<html lang="en"  ng-app="boora" ng-controller="IndexController">
  <script src="https://kit.fontawesome.com/9ecbd771a2.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/lib/angular-translate.min.js' %}"></script>  
  <script src="{% static 'js/lib/angular-translate-loader-static-files.min.js' %}"></script>  
  <script src="{% static 'js/controller/index-controller.js' %}"></script>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% verbatim %} {{'DESCRIPTION_SITE_META' | translate }} {% endverbatim %} ">
  <meta name="author" content="">
 
  
  <title>{% verbatim %} {{'TITLE' | translate }} {% endverbatim %}</title>

 
   
  
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/new-age.css' %}" rel="stylesheet">

</head>

<body id="page-top">
<div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top" style="font-family: 'MarkerFelt-Thin';
font-weight: bold;">PETMOOBY
        </a>
        
        <div class = "d-md-none">  
       <img data-ng-click="changeLanguage('pt')" src="{% static 'img/brazil.png' %}" style="cursor:pointer;height: 30px;width: 30px;" class="img-fluid" alt="Bandeira do Brasil para trocar linguagem para português">
           <img data-ng-click="changeLanguage('en')" src="{% static 'img/usa.png' %}" style="cursor:pointer;height: 30px;width: 30px;" class="img-fluid" alt="American flag to change the language into English">
      </div> 
        
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
         
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download"> {% verbatim %} {{ 'MENU_TOP_DOWNLOAD' | translate }} {% endverbatim %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">{% verbatim %} {{'MENU_TOP_FEATURES' | translate}} {% endverbatim %}</a>
          </li>
        

          <li class="nav-item">
            <a href="{% url 'terms' %}" style="cursor:pointer;" class="nav-link js-scroll-trigger" >{% verbatim %} {{'MENU_TOP_TERMS' | translate}} {% endverbatim %}</a>
          </li>
         

        </ul>
      </div>
        
        
      
        
     <div class = "d-none d-md-inline">  
       <img src="{% static 'img/brazil.png' %}" data-ng-click="changeLanguage('pt')" style="cursor:pointer;height: 30px;width: 30px;" class="img-fluid" alt="Bandeira do Brasil para trocar linguagem para português">
           <img  data-ng-click="changeLanguage('en')" src="{% static 'img/usa.png' %}" style="cursor:pointer;height: 30px;width: 30px;" class="img-fluid" alt="American flag to change the language into English">
      </div>      

    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
           
            <h1 class="mb-5">{% verbatim %} {{'MAIN_TITLE' | translate}} {% endverbatim %}</h1>
            <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">{% verbatim %} {{'MAIN_BUTTON' | translate}} {% endverbatim %}</a> 
          </div>
          
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'img/demo-screen-2.jpg' %}" class="img-fluid" alt="{% verbatim %}{{'IMG_APP_ALT' | translate}} {% endverbatim%}">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading" style="COLOR: WHITE;font-weight: lighter;">{% verbatim %}{{'DOWNLOAD_TITLE' | translate}} {% endverbatim%}</h2>
          <p style="COLOR: WHITE">  {% verbatim %}{{'DOWNLOAD_SUBTITLE' | translate}} {% endverbatim%}</p>
          <div class="badges">
<!--            <a class="badge-link" href="https://play.google.com/store/apps/details?id=com.wanderpaths.app"><img src="img/google-play-badge.svg" alt=""></a>-->
            <a class="badge-link" href="https://apps.apple.com/br/app/petmooby/id1471414850"><img src="{% static 'img/app-store-badge.svg' %}" alt="DOWNLOAD PETMOOBY"></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        {% verbatim %}
        <h2>{{'FEATURE_TITLE' | translate}}</h2>
        <p class="text-muted">{{'FEATURE_SUBTITLE' | translate}}</p>
        {% endverbatim %}
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'img/demo-screen-1.jpg' %}" class="img-fluid" alt="{% verbatim %}{{'IMG_APP_ALT' | translate}} {% endverbatim %} ">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="far fa-calendar-check  text-primary"></i>
                  <h3>{% verbatim %}{{'FEATURE_TITLE1' | translate}} {% endverbatim %} </h3>
                  <p class="text-muted">{% verbatim %} {{'FEATURE_SUBTITLE1' | translate}}{% endverbatim %}</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fas fa-syringe text-primary"></i>
                  <h3>{% verbatim %}{{'FEATURE_TITLE2' | translate}} {% endverbatim %} </h3>
                  <p class="text-muted">{% verbatim %}{{'FEATURE_SUBTITLE2' | translate}} {% endverbatim %} </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fas fa-pills text-primary"></i>
                  <h3>  {% verbatim %} {{'FEATURE_TITLE3' | translate}} {% endverbatim %} </h3>
                  <p class="text-muted">  {% verbatim %} {{'FEATURE_SUBTITLE3' | translate}} {% endverbatim %} </p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="fas fa-user-md text-primary"></i>
                  <h3>  {% verbatim %} {{'FEATURE_TITLE4' | translate}} {% endverbatim %} </h3>
                  <p class="text-muted">  {% verbatim %} {{'FEATURE_SUBTITLE4' | translate}} {% endverbatim %} </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
        
        <div class="row">
            <div class= " col-md-4">
                <div class="row p-1 pl-3 font-weight-bold">  {% verbatim %} {{'CONTACT_TITLE' | translate}} {% endverbatim %} </div>
                <div class="row p-1 pl-3">contact.petmooby@gmail.com</div>
                <div class="row p-1 pl-3">+55 85 987698064</div>
            </div>    
      
                        
        </div>
        <p class="pt-1">&copy; PETMOOBY 2019. All Rights Reserved.</p>
    </div>
  </footer>

  

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  
  <script src="{% static 'js/new-age.min.js' %}"></script>
    </div>
  
</body>

</html>
